@font-face {
    font-family: domaine;
    src: url(domaine.ttf);
}
@font-face{
    font-family: editorial;
    src: url(EditorialNew-Light.ttf);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100% ;
    width: 100% ;
}
#main{
    background-color: #222;
    overflow-x: hidden;
}
#page1{
    height: 100vh;
    width:  100vw;
    background-color: #C4BCB3;
    position: relative;
    overflow: hidden;
}
#nav{
    height: 70px;
    width: 100%;
    background-color: #C4BCB3;
   display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #141111; 
}
#nav img{
    height: 25px;
}
#nav h5{
    font-weight: 100;
}

#elems{
    /* background-color: bisque; */
    height: 400px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
    /* border-bottom: 1px solid #141111;  */

}
#elem1{
    width: 30%;
    height:100%;
    /* background-color: aquamarine; */

}
#elem2{
    width: 30%;
    height:100%;
    /* background-color: aquamarine; */
    border-right: 2px solid #918d8d;
    border-left: 2px solid #918d8d;
    padding: 20px 30px;
    text-align: center;

}
#elem3{
    width: 30%;
    height:100%;
    /* background-color: aquamarine; */

}
#elem1 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
    /* by overflow hidden the image will never go outside the box */
}
#elem3 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden; /* fits image in given div size */
}
#image-div img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    transition: all ease 0.5s;
}
#image-div:hover img{
    scale: 1.2; 
    /* scale and transition for zoomed out feature */

}
#elem1 a{
    color:black;
    text-decoration: none;
}
#elem1 h4{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Canopee;
}
#elem1 h4 span{
    background-color: #b43b12;
    color: #C4BCB3;
    font-weight: 100;
    font-size: 18px;
    padding: 4px;
    margin-left: 10px;
    border-radius: 5px;
}
#elem1 p{
    font-size: 20px;
    font-family: domaine;
    font-weight: 100;
    color: rgb(81, 77, 77);
}
#elem3 a{
    color:black;
    text-decoration: none;
}
#elem3 h4{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Canopee;
}
#elem3 h4 span{
    background-color: #b43b12;
    color: #C4BCB3;
    font-weight: 100;
    font-size: 18px;
    padding: 4px;
    margin-left: 10px;
    border-radius: 5px;
}
#elem3 p{
    font-size: 20px;
    font-family: domaine;
    font-weight: 100;
    color: rgb(81, 77, 77);
}
#elem2 #mylogo{
    height: 25%;
    width: 100%;
}
#elem2 h2{
    font-family: Canopee;
    font-size: 60px;
}
#elem2 h3{
    font-family: editorial;
    font-size: 35px;
    font-weight: 100;
    /* color: #3f3d3de1; */
}
#elem2 h5{
    font-family: editorial;
    padding-top: 5px;
    font-size: 15px;
}
#heading{
    font-size: 290px;
    font-weight: 100;
    font-family: Canopee;
    background-color: #1C1C19 ;
    color: #C4BCB3;
    line-height: 250px;
    width: 94%;
    margin-left: 3%;
    margin-top: 1%;
    /* letter-spacing: -5px; */
}
#page2{
    /* padding-top: 40px; */
    height: 160vh;
    width:100%;
    background-color: #C4BCB3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page2-left{
    height: 100%;
    width: 35%;
    margin: 3%;
}
#page2-left h1{
    padding-left: 2px;
    font-size: 80px;
    font-family: domaine;
    font-weight: 200;
}
#page2-left h2{
    padding-top: 10px;
    font-size: 70px;
    font-family: editorial;
    font-weight: 600;
    color: #834545eb;
    letter-spacing: -1px;

}
#page2-left img{
    margin: 2px;
    height:50% ;
    width: 95%;
    object-fit: cover;
    border-color: #141111;
    border: 2px solid ;
}
#page2-left p{
    padding: 2% 0%;
    font-family: domaine;
    font-size: 25px;
    text-align: left;

}
#page2-right{
    border-left: 2px solid #918d8d;
    height:100% ;
    width:60% ;
    padding: 0% 3%;
}
#rightup{
    padding-bottom: 3%;
    height: 35%;
    width: 100%;
    display: flex;
    border-bottom: 2px solid  #918d8d;
}
#page2-right img{
    height: 100%;
    width: 60%;
    object-fit: cover;
    border: 2px solid ;
}

#right-part2{
    background-image: url(backpaper.png);
    background-size: cover;
    justify-content: space-between;
    text-align: left;
    margin-left:3%;
    padding: 3%;
    border-radius: 10px;
    border:2px groove brown;
}
#right-part2 h3{
    font-family: editorial;
    font-size: 40px;
}

#right-part2 li{
    padding-top: 10px;
    list-style: none;
}
#right-part2 li i{
    padding-right: 3%; 
    font-size:30px;
}
#right-part2 li a{
    text-decoration: none;
    color: #b43b12;
    font-weight: 600;
    font-size: 20px;
}
#rightdown{
    margin-top: 3%;
    height: 62%;
    width: 100%;
    background-color: rgb(202, 163, 144);
    font-size: 35px;
}
#rightdown h2{
    font-family: Canopee;
    font-size: 120px;
    letter-spacing: 4px;
    text-align: center;
    background-color: #141111;
    color: #C4BCB3;
}
#rightdown ul{
    padding-left: 5%;
    list-style:square;
}
#rightdown h5{
    text-decoration: underline;
    font-family: domaine;
    font-size: 30px;
    padding-top: 15px;
    letter-spacing: 2px;
}
#rightdown img{
    margin: 2%;
    height:170px;
    width: 800px;
    overflow: hidden;
    object-fit: cover;
    
}
#rightdown p{
    font-size: 25px;
    font-family: editorial;
}
#page3{
    /* height: 100vh; */
    position: relative;
    background-color: #C4BCB3;
    padding: 2%;
    display: flex;
}
#page3 h1{
    padding: 1% 2%;
    font-size: 500px;
    font-weight: 100;
    letter-spacing: -15px;
    background-color: #1C1C19;
    color: #C4BCB3;
    font-family: canopee;
    line-height: 45vh;
    width: fit-content;
    height: fit-content;
}
#page3 img{
    height: 400px;
    position: absolute;
    top: 6%;
    right: 2% ;
    border-color: #141111;
    border: 2px solid ;
}


#page4{
   height: 100vh;
   width:100% ;
   display: flex;
   align-content: center;
   background-color: #C4BCB3;
   justify-content: space-between;
   padding-bottom: 2%;
}
#page4-left{
    width: 35%;
    height: 100%;
    margin: 2%;
    margin-left: 2%;
    background-image: url(achieveback.png);
    background-size: cover;
    justify-content: space-between;
    text-align: left;
    padding: 3%;
    border:4px groove rgb(104, 38, 38);
}

#page4-left h3{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-family: canopee;
    font-size: 35px;
}
#page4-left ul{
    font-size: 25px;
    font-family: domaine;
    letter-spacing: 1px;
    padding-left: 15px;
    font-weight: 600;
    
}
#page4-left ul li{
    /* padding-bottom: 10px; */
}
#page4-left ul a{
    /* text-decoration: none; */
    padding-bottom: 15px;
    color: #541c1c;
}
#page4-left ul p{
    padding: 0px;
    font-size: 20px;
    font-family:dancing script;
    letter-spacing: 0px;
    font-weight: 500;
}
#page4-right{
    width:57%;
    height:100%;
    margin:2%;
}
#page4-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}






#page6{
    height:450px;
    /* min-width:100%; */
    background-color: #C4BCB3;
    display:flex;
    align-items: center; 
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
}
#page6::-webkit-scrollbar{
    height: 10px;
    width: 4px;
    background: gray;
}

/* Track */
#page6::-webkit-scrollbar-track {
  background:#C4BCB3; 
}
 
/* Handle */
#page6::-webkit-scrollbar-thumb {
  background: #945a5a; 
}

/* Handle on hover */
#page6::-webkit-scrollbar-thumb:hover {
  background:  #945a5a; 
}

#page6::-webkit-scrollbar-thumb:horizontal{
    background: #7d4d4d;
    border-radius: 10px;
}

#page6-left{
    height:400px;
    width:35%;
    padding: 80px 60px;
    /* background-color: aliceblue; */
}
#page6-right{
    width:65% ;
    /* background-color: bisque; */
    height: 400px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#page6-right #elem4{
    margin-right: 2%;
    min-width: 48%;
    height:350px;
    padding: 2%;
    border:4px groove rgb(104, 38, 38);
    box-shadow: 5px 5px 8px grey;
    background-color: rgb(216, 183, 159);
}
#page6-right #elem5{
    box-shadow: 5px 5px 8px grey;
    background-color: rgb(216, 183, 159);
    margin-right: 2%;
    min-width: 48%;
    height: 350px;
    padding: 2%;
    margin-right: 2%;
    border:4px groove rgb(104, 38, 38);
    /* background-color: aquamarine; */

}
#elem4 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
/* by overflow hidden the image will never go outside the box */
} 
#elem5 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden; /* fits image in given div size */
}
#image-div img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    transition: all ease 0.5s;
}
#image-div:hover img{
    scale: 1.2; 
    /* scale and transition for zoomed out feature*/ 

}
#elem4 a{
    color:black;
    text-decoration: none;
}
#elem4 h4{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Canopee;
}
#elem4 h4 span{
    background-color: #b43b12;
    color: #C4BCB3;
    font-weight: 100;
    font-size: 18px;
    padding: 4px;
    margin-left: 10px;
    border-radius: 5px;
}
#elem4 p{
    font-size: 20px;
    font-family: domaine;
    font-weight: 100;
    color: rgb(81, 77, 77);
}
#elem5 a{
    color:black;
    text-decoration: none;
}
#elem5 h4{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Canopee;
}
#elem5 h4 span{
    background-color: #b43b12;
    color: #C4BCB3;
    font-weight: 100;
    font-size: 18px;
    padding: 4px;
    margin-left: 10px;
    border-radius: 5px;
}
#elem5 p{
    font-size: 20px;
    font-family: domaine;
    font-weight: 100;
    color: rgb(81, 77, 77);
} 





#page6-left #oval{
    height:200px ;
    width:100% ;
    border-radius: 50%;
    background-color: #8a7861;
    align-items: center;
    line-height: 180px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}
#oval h1{
    font-size: 80px;
    font-weight: 100;
    font-family: canopee;
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    transform: translateX(-26%);
    transition: all ease 0.6s;
}
#oval img{
    height: 50px;
    transform: translateX(-120%);
    transition: all ease 0.6s;
    visibility: hidden;
  }
#oval:hover img{
    transform: translateX(75%);
    visibility: visible;
}
#oval:hover h1{
    transform: translateX(140%);
    display: none;
}
#page5{
    width:100%;
    background-color: #C4BCB3;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border-color: #141111;
    border-bottom: 3px solid ;
    border-top: 3px solid ;
}
#page5::-webkit-scrollbar{
    display: none;
}
#page5 h1{
    padding: 25px 0px;
    font-size: 90px;
    font-weight: 100;
    font-family: editorial;
    display: inline-block;
    /* background-color: aqua; */
    margin-right: 20px;

    animation-name: scroll;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
#page5:hover h1{
    animation-play-state: paused;
}
#page5 span{
   background-color:#141111;
   color: #C4BCB3;
   font-family: canopee;
   padding: 0 10px;
}

@keyframes scroll{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(calc(-100% - 20px));
    }
}


#page8{
    height:30px;
    width:100%;
    background-color: #C4BCB3;
}